# PyCity Schools Analysis

- Your analysis here
  
---To make sure we're looking at all available data, we can create a larger dataframe from both CSV files and then we can begin to analyze. The first dataframe we create is a district summary, which concisely show how many schools and students there are, the total budget for the entire district, averages of all math and reading scores, and percent passing students for both categories as well as an overall.
Then, by completing a school summary, we can further break down the data to show a school's type, student body, budget per student, average scores for both reading and math, as well as percent passing those subjects. With this breakdown, we can show the top performing schools, determined by an overall passing percentage (between math and reading), as well as the lowest performing schools. We can also break down the data by subject (math and reading) to show average scores of all grades (9th to 12th).
Our final analyses depicts the type of school, the ranges of how much each school spends on its students, the ranges of the student body size, and each range's average scores for both reading and math, as well as percentages for those students passing the subjects.

With these analyses and charts drawn, one of the conclusions we can draw is that the top five performing schools (performance consisting of percentage of students who pass both reading and math) are charter schools, which typically have a smaller total number of students. This might lead someone to conclude that there might be less stress on educators who teach smaller class sizes. On the other hand, we can also see that the five lowest performing schools are district schools, with student bodies almost twice those of charter schools. It seems a highschool student attending a charter school has a higher chance of passing both subjects, even though the per capita amount actually drops along with a school's student count: schools who receive the most amount of money do not always have the highest passing rates. Another conclusion we might draw is the performance of all students (9th to 12th grade) on reading compared to math. Average reading scores across all schools and grades are consistently in the 80s, whereas math scores somewhat drop.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                                  (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
    # Using a dictionary of lists
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count],
                                "Total Budget": [total_budget], "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage], "% Overall Passing": [overall_passing_rate]})


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select all of the school types
# school_types = school_data.loc[:, ["school_name", "budget"]]
# school_types.sort_values("school_name", ascending=True).reset_index(drop=True)
school_types = school_data.groupby(["school_name"])["type"].unique()
pd.Series(school_types, name = 'type')

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [12]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby(["school_name"])["size"].size()
pd.Series(per_school_counts, name = 'size')
# per_school_counts = pd.DataFrame({"school_name": school_data["school_name"], "Total Students": school_data["size"]})
# per_school_counts_sorted = per_school_counts.sort_values('school_name').reset_index(drop=True)
# per_school_counts_sorted.set_index('school_name')
# per_school_counts = school_data_complete.groupby("school_name")
# per_school_counts_sorted = per_school_counts["school_name"].value_counts()
# print(per_school_counts_sorted)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [13]:
# Calculate the total school budget
per_school_budget = school_data.groupby(["school_name"])["budget"].unique()
per_school_budget = per_school_budget.astype(int)
pd.Series(per_school_budget, name = 'budget')
# per_school_budget = pd.DataFrame({"school_name": school_data["school_name"], "Total Budget": school_data["budget"]})
# per_school_budget_sorted = per_school_budget.sort_values('school_name').reset_index(drop=True)
# per_school_budget_sorted.set_index('school_name')

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [14]:
# Calculate per capita spending per school
per_school_capita = per_school_budget/per_school_counts
# per_school_capita = per_school_capita.astype(float)
pd.Series(per_school_capita, name = 'Per Student Budget')
# per_school_capita = pd.DataFrame({"school_name": school_data["school_name"], 
#                                   "Per Capita Spending": per_school_budget_sorted["Total Budget"]/per_school_counts["Total Students"]})
# per_school_capita_sorted = per_school_capita.sort_values('school_name').reset_index(drop=True)
# per_school_capita_sorted.set_index('school_name')

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: Per Student Budget, dtype: float64

In [15]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
print(per_school_math)
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
print(per_school_reading)
# per_school_reading =

# school_name_groupby = school_data_complete.groupby(["school_name"])

# per_school_math_groupby = pd.Series(school_name_groupby['math_score'].mean(), name=' Average Math Score')
# per_school_math_df = pd.DataFrame(per_school_math_groupby)
# print(per_school_math_df)

# per_school_reading_groupby = pd.Series(school_name_groupby["reading_score"].mean(), name='Average Reading Score')
# per_school_reading_df = pd.DataFrame(per_school_reading_groupby)
# print(per_school_reading_df)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"])["math_score"].size()
school_students_passing_math

# students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

# school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
# school_students_passing_math_groupby = pd.Series(school_students_passing_math, name = 'Students Passing Math')
# school_students_passing_math_df = pd.DataFrame(school_students_passing_math_groupby)

# print(school_students_passing_math_df)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"])["reading_score"].size()
school_students_passing_reading

#students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

# school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
# school_students_passing_reading_groupby = pd.Series(school_students_passing_reading, name = 'Students Passing Reading')
# school_students_passing_reading_df = pd.DataFrame(school_students_passing_reading_groupby)

# print(school_students_passing_reading_df)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

pd.Series(school_students_passing_math_and_reading, name = "Passed Both")

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Passed Both, dtype: int64

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
pd.Series(per_school_passing_math, name = "% Passing Math")
pd.Series(per_school_passing_reading, name = "% Passing Reading")
pd.Series(overall_passing_rate, name = "% Overall Passing")

# school_students_passing_math_df.index = per_school_counts_sorted.index
# per_school_passing_math = school_students_passing_math_df.div(per_school_counts_sorted["Total Students"], axis='index') * 100
# per_school_passing_math.set_index(school_data["school_name"])
# print(per_school_passing_math)

# school_students_passing_reading_df.index = per_school_counts_sorted.index
# per_school_passing_reading = school_students_passing_reading_df.div(per_school_counts_sorted["Total Students"], axis='index') * 100
# per_school_passing_reading.set_index(school_data["school_name"])
# print(per_school_passing_reading)

# school_students_passing_math_and_reading_df.index = per_school_counts_sorted.index
# overall_passing_rate = school_students_passing_math_and_reading_df.div(per_school_counts_sorted["Total Students"], axis='index') * 100
# per_school_passing_reading.set_index(school_data["school_name"])
# print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: % Overall Passing, dtype: float64

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_rough = pd.concat([school_types, per_school_counts, per_school_budget, per_school_capita, per_school_math, per_school_reading, per_school_passing_math, per_school_passing_reading, overall_passing_rate], axis=1)

# # Rename Columns
per_school_summary = per_school_summary_rough.rename(columns={'type':'School Type', 'size':'Total Students', 'budget':'Total School Budget', 0:'Per Student Budget', 'math_score':'Average Math Score','reading_score':'Average Reading Score', 1:'% Passing Math', 2:'% Passing Reading', 3:'% Overall Passing'})

# Formatting
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by=["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by=["% Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])
ninth_grade_math_scores_groupby = pd.Series(ninth_grade_math_scores["math_score"].mean(), name = '9th')
ninth_grade_math_scores_df = ninth_grade_math_scores_groupby.to_frame()

tenth_grade_math_scores = tenth_graders.groupby(["school_name"])
tenth_grade_math_scores_groupby = pd.Series(tenth_grade_math_scores["math_score"].mean(), name = '10th')

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"])
eleventh_grade_math_scores_groupby = pd.Series(eleventh_grade_math_scores["math_score"].mean(), name = '11th')

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"])
twelfth_grade_math_scores_groupby = pd.Series(twelfth_grade_math_scores["math_score"].mean(), name = '12th')

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = ninth_grade_math_scores_df.merge(tenth_grade_math_scores_groupby, left_index=True, right_index=True).merge(eleventh_grade_math_scores_groupby, left_index=True, right_index=True).merge(twelfth_grade_math_scores_groupby, left_index=True, right_index=True)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])
ninth_grade_reading_scores_groupby = pd.Series(ninth_grade_reading_scores["reading_score"].mean(), name='9th')
ninth_grade_reading_scores_df = ninth_grade_reading_scores_groupby.to_frame()

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"])
tenth_grade_reading_scores_groupby = pd.Series(tenth_grade_reading_scores["reading_score"].mean(), name='10th')

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"])
eleventh_grade_reading_scores_groupby = pd.Series(eleventh_grade_reading_scores["reading_score"].mean(), name='11th')

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"])
twelfth_grade_reading_scores_groupby = pd.Series(twelfth_grade_reading_scores["reading_score"].mean(), name='12th')

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = ninth_grade_reading_scores_df.merge(tenth_grade_reading_scores_groupby, left_index=True, right_index=True).merge(eleventh_grade_reading_scores_groupby, left_index=True, right_index=True).merge(twelfth_grade_reading_scores_groupby, left_index=True, right_index=True)

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [25]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [27]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'], spending_bins, labels=labels)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [28]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [29]:
# Assemble into DataFrame
spending_summary = pd.merge(spending_math_scores,spending_reading_scores,on = ["Spending Ranges (Per Student)"],how = "outer").merge(spending_passing_math,on = ["Spending Ranges (Per Student)"],how = "outer").merge(spending_passing_reading,on = ["Spending Ranges (Per Student)"],how = "outer").merge(overall_passing_spending,on = ["Spending Ranges (Per Student)"],how = "outer")

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [30]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)

In [32]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [33]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = size_summary = pd.merge(size_math_scores,size_reading_scores,on = ["School Size"],how = "outer").merge(size_passing_math,on = ["School Size"],how = "outer").merge(size_passing_reading,on = ["School Size"],how = "outer").merge(size_overall_passing,on = ["School Size"],how = "outer") 

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.merge(average_math_score_by_type, average_reading_score_by_type,on = ["School Type"],how = "outer").merge(average_percent_passing_math_by_type,on = ["School Type"],how = "outer").merge(average_percent_passing_reading_by_type,on = ["School Type"],how = "outer").merge(average_percent_overall_passing_by_type,on = ["School Type"],how = "outer") 

# Display results
type_summary